/* Estilo da caixa que envolve o campo de busca e select */
.searchform {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #3d423c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra leve */
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
}

/* Estilo do campo de busca */
.searchinput {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  color: #3d423c;
  border-radius: 5px;
  font-size: 1rem;
}

/* Estilo do select */
.yearselect {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-size: 1rem;
}
